public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*tailwindcss*
enable-pre-post-scripts=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=isolated
